.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(3px);
  background-color: rgba(0, 0, 0, 0.4); /* 배경 색상 및 투명도 조정 */
  z-index: 100;
}

.loadingBar {
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 5rem;
}
