.modal_background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(3px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 15px;
  width: 484px;
  height: 436px;
  max-width: 100%;
  border: 1.5px solid rgb(168 162 158);
}
