.logo img {
  width: 80%;
}

.navbar {
  font-size: 3rem;
  display: felx;
  justify-content: center !important;
  align-items: center;
  width: 100%;
}

.nav_content {
  width: 100%;
  display: flex;
  justify-content: center !important;
}

.nav_content > * {
  margin-right: 5rem;
}

.dropdown_item {
  font-size: 1.5rem;
}

.logout_link {
}
