.main_container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
  overflow: auto;
}

.top_name_wrap {
  width: 100%;
  display: flex;
  margin-bottom: 5rem;
  background-color: #006fff;
  padding-left: 10%;
}

.top_name_container {
  width: 100%;
  padding: 3rem;
}

.top_name_container h3 {
  font-size: 3rem;
  color: #ffffff;
}

.set_list_wrap {
  padding-left: 10%;
  width: 100%;
  height: auto;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}

.article_container {
  width: 72%;
  display: flex;
  justify-content: space-between;
  font-size: 1.8rem;
  padding-left: 10%;
}

.article_container p {
  padding-right: 10%;
  color: #869ca6;
}

.set_info_container {
  width: 90%;
  display: flex;
  align-items: center; /* 항목을 세로 방향으로 중앙 정렬 */
  font-size: 1.8rem;
  margin-bottom: 1%;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(143, 141, 141, 0.2);
  padding: 1%;
  padding-left: 10%;
  border-radius: 7px;
}

.set_info_container:hover {
  box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.3);
}

.btn_container {
  flex: 1; /* 버튼 컨테이너에 할당된 공간 */
  display: flex;
  padding-left: 3%;
  justify-content: center;
}

.btn_container button {
  border-radius: 5px;
  padding: 1rem 2rem 1rem 2rem;
  margin-left: 1rem;
  background-color: #ffffff;
  color: black;
  border: 2px solid #cacaca;
  font-size: 1.3rem;
}

.link_style {
  flex: 3; /* ID, 제목, 날짜에 더 많은 공간 할당 */
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: black;
}
.link_style p {
  margin: 0; /* 기본 마진 제거 */
}

.link_style:hover {
  color: grey; /* 마우스 호버 시 텍스트 색상 변경 */
  text-decoration: underline; /* 마우스 호버 시 밑줄 추가 */
}
