.pageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  width: 100vw;
  height: 100vh;
}

.stats {
}
.stats_wrap {
  color: #fff;
  font-size: 18px;
  width: 50%; /* 너비 설정 */
  height: 40%;
  margin-top: 20px; /* 위쪽 여백 설정 */
  border-radius: 20px; /* 둥근 모서리 설정 */
  background-color: #4a708f; /* 색상 변경 */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* 그림자 효과 설정 */
  margin-bottom: 2rem;
  padding: 4rem;
}

.input_container {
  border: none;
}

.text_input {
  width: 100%;
  border: none;
  border-bottom: 2px solid white;
  outline: none;
  color: white;
  background-color: #4a708f;
}

.text_input::placeholder {
  color: white;
}

.top_status_container {
  display: flex;
  justify-content: space-around;
  background-color: #4a708f;
  width: 100%;
  border-bottom: 1px solid #fff;
}

.status_wrap {
  flex: 1;
  text-align: center;
  border-right: 1px solid #fff;
}
.top_status_container :nth-child(3) {
  border-right: none;
}

.sentences {
  padding-top: 5rem;
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 5rem;
  background-color: #4a708f;
}

.main_wrap {
  width: 50%; /* 너비 설정 */
  /* height: 50%; 높이 설정 */
  /* background-color: transparent; 배경 색상 투명으로 설정 */
  border-radius: 20px; /* 둥근 모서리 설정 */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* 그림자 효과 설정 */
  background-color: #4a708f;
  padding: 2rem;
}
.key {
  margin: 5px; /* 키 크기를 키우기 위해 여백 조정 */
  padding: 15px; /* 키 크기를 키우기 위해 안쪽 여백 조정 */
  background-color: #a0c7d6; /* 색상 변경 */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* 그림자 효과 설정 */

  border-radius: 5px;
  cursor: pointer;
  color: black;
  font-size: 15px;
}

.key.pressed {
  background-color: #a8d1ff;
}

.key_row {
  display: flex;
  justify-content: center;
}

.specialKey {
  background-color: #4782f1;
}
.keyPressed {
  background-color: #6a8ed1; /* Pressed key color */
}

.specialKey {
  grid-column: span 1; /* 특수 키들의 열을 2칸으로 설정하여 더 넓게 표시 */
}

.keyboardRow {
  display: flex;
  justify-content: center; /* 수평 가운데 정렬 */
}

.FaClock {
  font-size: 40px;
}

.MdOutlineKeyboardAlt {
  font-size: 40px;
}

.FiCheckSquare {
  font-size: 40px;
}

/* 모달 창을 나타내는 CSS */
.modalBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border: 10px solid #19548b;
  padding: 100px;
  border-radius: 10px;
}

.modalContent h2 {
  margin-top: 0;
  font-size: 50px;
  line-height: 1.5; /* 헤딩의 줄 간격 조절 */
}

.modalContent p {
  margin-bottom: 10px;
  font-size: 30px;
  line-height: 2; /* 문단의 줄 간격 조절 */
}

.closeButton {
  background-color: #28344e;
  color: white;
  font-size: 23px;
  margin-top: 30px; /* 버튼 위쪽 여백 추가 */
  cursor: pointer; /* 커서를 포인터로 변경하여 클릭 가능한 것으로 표시 */
}
